@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
scroll-behavior: smooth;
font-family: 'Poppins', sans-serif;
}

::selection {
background-color: #DF7B6C;
color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(59, 59, 59);
}

body > div {
    width: 70%;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    stroke-width: 20px;
}

#menu {
    position:fixed;
    top: 5vh;
    left: 3vw;
    background-color: white;
    border-radius: 45px ;
    height: 90vh;
    width: 20vw;
    color: rgb(68, 68, 68);
    padding: 50px 30px;
    overflow: auto;
    overflow-x: hidden;
    border: 30px solid white;
}

.page {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 45px;
    margin-bottom: 40px;
    width: 80%;
    min-width: 600px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 850px;
    min-width: 780px;
}

.group > div {
    text-align: center;
}

/* ///////////////////////////////////////////////////// */
/* ///////////////////// DISPLAY /////////////////////// */
/* ///////////////////////////////////////////////////// */

.content {
    background-color: lightblue;
    color: white;
    min-height: 100px;
    min-width: 100px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
}

.box + .box, .grid + .grid {
    margin-top: 25px;
}

/* ///////////////////////////////////////////////////// */
/* /////////////////////// TEXT //////////////////////// */
/* ///////////////////////////////////////////////////// */

h1 {
    color: white;
    font-size: 70px;
}

h2 {margin-bottom: 0;}

h2 + p {margin-top: 0;}

div + h2 {margin-top: 70px;}

h3 {color:lightblue;}

dl {font-size: 0.8rem;}

a {
    text-decoration: none;
    font-weight: bold;
    color: #DF7B6C;
}

/* ///////////////////////////////////////////////////// */
/* //////////////// FLEX-BOX PROPERTIES //////////////// */
/* ///////////////////////////////////////////////////// */

#fdr {
    flex-direction: row;
}

#fdrr {
    flex-direction: row-reverse;
}

#fdc {
    flex-direction: column;
}

#fdcr {
    flex-direction: column-reverse;
}

#fwn {
    flex-wrap: nowrap;
    width: 250px;
}

#fww {
    flex-wrap: wrap;
    width: 250px;
}

#fwr {
    flex-wrap: wrap-reverse;
    width: 250px;
}

#ff {
    flex-flow: column wrap;
    height: 245px;
    width: 245px;
}

#fs {
    justify-content:flex-start;
    width: 80%;
}

#fe {
    justify-content:flex-end;
    width: 80%;
}

#c {
    justify-content:center;
    width: 80%;
}

#sb {
    justify-content:space-between;
    width: 80%;
}

#sa {
    justify-content:space-around;
    width: 80%;
}

#se {
    justify-content:space-evenly;
    width: 80%;
}

#afs {
    align-items:flex-start;
    height: 300px;
}

#afe {
    align-items: flex-end;
    height: 300px;
}

#ac {
    align-items:center;
    height: 300px;
}

#str {
    align-items:stretch;
    height: 300px;
}

#cfs {
    align-content:flex-start;
    flex-wrap: wrap;
    height: 365px;
    width: 365px;
}

#cfe {
    align-content:flex-end;
    flex-wrap: wrap;
    height: 365px;
    width: 365px;
}

#cc {
    align-content:center;
    flex-wrap: wrap;
    height: 365px;
    width: 365px;
}

#cstr {
    align-content:stretch;
    flex-wrap: wrap;
    height: 365px;
    width: 365px;
}

#csb {
    align-content:space-between;
    flex-wrap: wrap;
    height: 365px;
    width: 365px;
}

#csa {
    align-content:space-around;
    flex-wrap: wrap;
    height: 365px;
    width: 365px;
}

#cgap {
    column-gap: 15px;
    align-content:center;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width: 380px;
}

#rgap {
    row-gap: 15px;
    align-content:center;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    width: 380px;
}

.box > #rgap, #cgap > .content{
    margin: 3px;
}

.box > #cgap, #rgap > .content{
    margin: 3px;
}

#fg1 {
    align-content:center;
    justify-content: center;
    flex-wrap: wrap;
    width: 380px;
    padding: 8px;
}

#fg2 {
    align-content:center;
    justify-content: center;
    width: 80%;
    padding: 8px;
}

#cc2 {
    align-items:center;
    height: 365px;
    width: 365px;
}

#cfs2 {
    align-items: flex-start;
    height: 365px;
    width: 365px;
}

/* ///////////////////////////////////////////////////// */
/* //////////////////// GRID SETUP ///////////////////// */
/* ///////////////////////////////////////////////////// */

.grid {
    display: grid;
    border: 2px solid gray;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    text-align: center;
    color: white;
}

#grid-fr  {
    grid-template-rows: 200px 1fr 2fr 1fr;
}

#grid-name {
    grid-template-columns: [first-col] 1fr [mid] 1fr [last-col];
    grid-template-rows: [first-row] 1fr [mid] 1fr [last-row];
}

#grid-repeat {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}

#grid-fit-content {
    grid-template-columns: fit-content(800px) fit-content(0);
    grid-auto-flow: row;
}

#grid-minmax {
    grid-template-columns: minmax(min-content, 300px) minmax(240px, 1fr);
}

#grid-area  {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "main main . sidebar"
    "footer footer footer footer";
}

#grid-gap  {
    width: 350px;
    height: 350px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    position: relative;
}

#default-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
}

/* ///////////////////////////////////////////////////// */
/* //////////////////// GRID ITEMS ///////////////////// */
/* ///////////////////////////////////////////////////// */

.item {
    background-color: lightblue;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item > p {
    margin: 0;
}

#grid-fit-content > .item > p {
    margin: 10px;
}

#grid-minmax > .item > p {
    margin: 10px;
}

.item :nth-child(2) {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
    color: #8f8f8f;
    margin: 0;
}

#grid-name > .item:first-child {
    justify-content: space-between;
}

#grid-name > .item:last-child {
    flex-direction: row;
    justify-content: space-between;
}

#grid-name > .item :nth-child(2) {
    background-color: transparent;
}

#grid-name > .item > p {
    color:#8f8f8f;
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 15px;
}

#grid-name > .item:last-child > p:last-child, #grid-name > .item:last-child > p:first-child {
    writing-mode: vertical-lr;
    color:#8f8f8f;
    background-color: whitesmoke;
    border-radius: 15px;
}

#grid-repeat > p {
    position: absolute;
    left: 100px;
    color:#8f8f8f;
    background-color: whitesmoke;
    border-radius: 15px;
}

#grid-repeat > p + p {
    writing-mode: vertical-lr;
    top: 100px;
    left: 0;
}

#grid-gap > .item {
    margin: 2.5px;
}

#grid-gap > p {
    color:#8f8f8f;
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 15px;
    position: absolute;
}

#exception {
    max-width: 560px;
    min-width: 770px;
}

#columns {
    min-width: 360px;
    align-items: flex-end;
}

/* ///////////////////////////////////////////////////// */
/* //////////////////// RESPONSIVE ///////////////////// */
/* ///////////////////////////////////////////////////// */

@media only screen and (max-width: 1460px) {
    .page:last-child > .group {
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

@media only screen and (max-width: 1170px) {
    .page > .group {
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center
    }
    
    #columns {
        align-items: center;
    }

    #fs > .content, #fe > .content, #c > .content, #sb > .content, #sa > .content, #se > .content {
        margin: 5px;
    }
}